<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>타임라인 수정화면</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

      <div id="wrap">
           <section class="contents d-flex justify-content-center">
                <div class="mt-3 input-box3 border border-dark">
                    <div class="header d-flex justify-content-between">
                       <img src="https://cdn.pixabay.com/photo/2018/11/13/21/44/instagram-3814060_960_720.png">
                       <div class="mt-1 display-3 font-weight-blod">JJoin</div>
                       <img src="https://cdn.pixabay.com/photo/2022/08/21/22/11/telegram-icon-7402209_1280.png">
                    </div>
                    <div class="post" id="timelineUpdateView" th:data-post-id="${post.id}"> <!-- 얘가 있어야 그냥 timelineController에서 id를 전달받고 이 update화면 자체를 띄운다-->
                        <div class="post-up d-flex align-items-center">
                           <div th:if="${session.userId != null}" class="mr-3 d-flex">
                              <div th:if="${session.profileImage != null}" class="ml-1"><img th:src="${session.profileImage}"></div>
                              <div th:if="${session.profileImage == null}" class="ml-1"><i class="bi bi-person-circle"></i></div>
                              <span th:text="${session.nickName}" class="ml-1"></span>
                              <a href="/user/logout" class="ml-1">로그아웃</a>
                           </div>
                        </div>
                        <div class="post-middle d-flex justify-content-center align-items-center">
                            <h3><i class="bi bi-file-image" id="imageIcon"></i></h3>
                            <input type="file" id="fileInput" class="d-none">
                        </div>
                        <div class="post-down">
                            <textarea placeholder="내용을 입력하세요" class="form-control" rows="4"  id="textInput"></textarea>
                            <button type="button" class="form-control btn-primary" id="updateBtn">수정하기</button>
                        </div>
                    </div>
                    <div class="footer d-flex justify-content-between">
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/44/instagram-3814060_960_720.png">
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814050_1280.png">
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/44/instagram-3814061_1280.png">
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814052_1280.png">
                        <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814047_960_720.png">
                    </div>
                 </div>
             </section>
         </div>
        
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script>
        
             $(document).ready(function(){
            	 
            	 $("#updateBtn").on("click",function(){
            		 
            		 let id = $("#timelineUpdateView").data("post-id");
            		 let contents = $("#textInput").val();
            		 
            		 $.ajax({
            			 type:"put"
            			 , url:"/timeline/update"
            			 , data:{"id":id,"contents":contents}
            			 , success:function(data){
            				 if(data.result == "success"){
            					 location.href = "/post/timeline-Detail";
            				 }else{
            					 alert("수정 실패입니다.");
            				 }
            			 }
            			 , error:function(){
            				 alert("수정 에러입니다.");
            			 }
            			 
            		 });
            		 
            		 
            		 
            	 });
            	 
             });
        
        </script>

</body>
</html>